{% extends "page_template.html.twig" %}



{% block pageContainerClasses%} container container-post blog {% endblock %}


{% block mainContent %}

  <div class="row">

    <div class="col-lg-12">

      <h1 >{{ post.title | raw}}</h1>
      <hr>

      <img id="img-blog-left" src="/img/blog/hypoallergenic-cat-food/canned-cat-food.jpg" >

      <p>
      Cat food allergies and intolerances are becoming increasingly more commonplace, and finding a hypoallergenic cat food that your cat
      can eat without symptoms can be a challenge.
      </p>
      <p>
      Cats with food allergies will frequently scratch their heads and necks, while those with intolerances
      may have gastrointestinal problems like diarrhea and vomiting. If your cat is first experiencing these systems,
      your first stop should always be your veterinarian. Your vet will do their analysis of your pet and may suggest an elimination
      diet or other treatments. You and your vet are partners in your cat's health, so please follow their advice if it makes sense to you!
      </p>

      <p>The most common cat food allergens are:

      <ul>
        <li>beef</li>
        <li>lamb</li>
        <li>seafood</li>
        <li>corn</li>
        <li>soy</li>
        <li>dairy</li>
        <li>wheat gluten</li>

      </ul>

      </p>
      <p>
      If you suspect food allergies or intolerances in your cat, it's difficult to know which ingredient may be causing your feline friend difficulties.
      By avoiding all of the most common allergens, you may be able to provide your cat some relief until you can decisively
      determine what specific ingredients your cat is reacting to.
      </p>

      <h2>Top Rated Allergen-Free Cat Food Products</h2>

      <p>
      With over 2000 commercial cat food products indexed and reviewed, here at CatFoodDB we're able to share with you our highest-rated products that do not contain any of these
      common allergens. They also do not contain artificial colors, chicken, turkey, or any generic "meat" products, which are other potential triggers.
      Since cat food allergies are thought to be linked to the proteins your cat consumes most, foods with less-common proteins are more likely to be
        tolerated by feline allergy sufferers.
        <p></p>If you suspect your cat has food allergies or intolerances, check out any of the below foods as a possible alternative
        to their current diet!
      </p>

      {% set count = extra['products'] | length %}
      {% for key,product in extra['products'] %}
        {% set amazonUrl = product.getPurchaseUrl() %}
        {% set nutRating = product.getExtraData('nutrition_rating') %}
        {% set ingRating = product.getExtraData('ingredients_rating') %}
        {% set ingredients = product.getExtraData('top_ingredients') %}
        {% set protein = ingredients[0] %}
        {% set score = product.getExtraData('score') %}
        {% set productStats = product.getExtraData('stats') %}
          <hr>
          <div class="row">
            <div class="col-xs-4 col-sm-3">
              {% if amazonUrl %}
                <a href="{{ amazonUrl | default("#") }}" target="_blank">
                  <img alt="{{ product.displayName }}"
                       title="{{ product.displayName }}"
                       src="{{ product.getExtraData('list_img') }}"
                       class="blog-list img-responsive"
                  />
                </a>
              {% else %}
                <img src="{{ product | catfood_image_max }}" alt="{{ product.displayName }}" class="blog-list" style="float: left;"/>
              {% endif %}
              <a href="{{ amazonUrl }}" target="_blank">
                <button class="btn btn-block btn-info text-center btn-amazon" type="submit">Check Price<br>On Amazon
                    </button>
              </a>
            </div>
            <div class="col-xs-8 col-sm-9" >
              <h3>
              <a href="{{ product | catfood_url  }}" title="{{ product.displayName }}">
                  {{ count - loop.index0 }}. {{ product.displayName }} </a>

              </h3>
              <a href="{{ product | catfood_url  }}" title="{{ product.displayName }}">
                <strong>CatFoodDB Rating:</strong>
                <span class="visible-xs-block zero-height "></span>
                {{ ingRating |paws("ingredients-paws") }}{{ nutRating |paws("nutrition-paws") }}</a>

              <p style="line-height: 1.3; padding-top: 10px;">

                {% if amazonUrl %}<a href="{{ amazonUrl }}" target="_blank">{% endif %}
                  {{ product.displayName }}
                {% if amazonUrl %}</a>{% endif %}
                  is a {{ ingredients[0] }}-based cat food, containing {{ productStats.protein | protein_display | striptags }} and
                {{ productStats.carbohydrates | carb_display | striptags }}  compared
                  to the other products in the CatFoodDB.
              </p>



            </div>
          </div>


      {% endfor %}

      <hr>
      <p>

        Hopefully one of the above hypoallergenic cat foods is able to help your cat. If not, I at least hope I've been able to give you some ideas on
        what to look for when choosing a cat food for allergy sufferers, and that both you and your feline friend are able to find relief soon!

      </p>

    </div>
  </div>


  <hr>
  <div class="row">
    <div class="col-lg-12">
      <h2>Further Reading</h2>
      <ul>
        <li><a rel=”nofollow” href="https://www.vetinfo.com/common-food-allergies-cats.html">The Nine Most Common Food Allergies in Cats</a></li>
        <li><a rel=”nofollow” href="http://www.peteducation.com/article.cfm?c=1+2141&aid=142">Food Allergies & Intolerances in Cats</a></li>
      </ul>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-md-12">
    <a href="/blog/hypoallergenic-cat-food" title="Hypoallergenic Cat Food: 15 Top Canned Foods For Cats With Allergies">
      <img class="img-responsive infographic" src="/img/blog/hypoallergenic-cat-food/info.png" title="Hypoallergenic Cat Food: <br>15 Top Canned Foods For Cats With Allergies"
         alt="Hypoallergenic Cat Food:15 Top Canned Foods For Cats With Allergies">
    </a>
    </div>

  </div>


{% endblock %}

{% block support %}
{% endblock %}