<div class="row visible-xs-block" style="margin-top: 10px">
  {% set perCol = ((brands | length) / 2) | round(0, 'ceil')  %}
  <div class="col-xs-6">
    <ul class="brand-list fa-ul">
      {% for brand, url in brands %}
        {% if loop.index0 < perCol %}
          <li><i class="fa-li fa fa-paw"></i><a href="{{ url }}">{{ brand | trim }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="col-xs-6">
    <ul class="brand-list fa-ul">
      {% for brand, url in brands %}
        {% if loop.index0 >= perCol %}
          <li><i class="fa-li fa fa-paw"></i><a href="{{ url }}">{{ brand | trim }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

</div>

<div class="row hidden-xs" style="margin-top: 10px">
  {% set perCol = ((brands | length) / 3) | round(0, 'ceil')  %}
  <div class="col-sm-4">
    <ul class="brand-list fa-ul">
      {% for brand, url in brands %}
        {% if loop.index0 < perCol %}
          <li><i class="fa-li fa fa-paw"></i><a href="{{ url }}">{{ brand | trim }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="col-sm-4">
    <ul class="brand-list fa-ul">
      {% for brand, url in brands %}
        {% if loop.index0 >= perCol and loop.index0 < (2*perCol) %}
          <li><i class="fa-li fa fa-paw"></i><a href="{{ url }}">{{ brand | trim }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="col-sm-4">
    <ul class="brand-list fa-ul">
      {% for brand, url in brands %}
        {% if loop.index0 >= (2*perCol) %}
          <li><i class="fa-li fa fa-paw"></i><a href="{{ url }}">{{ brand | trim }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

</div>