<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" rel="home" target="_self" href="/" title="{{ title }}">
                <img class="logo"
                     src="/img/logo/logo2.png" alt="CatFoodDB"/>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="{{ searchNavClass }}"><a href="/search" target="_self">Search</a></li>

                <li class="{{ reviewNavClass }}">
                    <a href="#" target="_self" class="dropdown-toggle" data-toggle="dropdown">Cat Food Reviews <b class="caret"></b></a>
                    <ul class="dropdown-menu multi-level">
                        <li class="dropdown-submenu">
                            <a href="#" target="_self" class="dropdown-toggle" data-toggle="dropdown">Brands: # - A</a>
                            <ul class="dropdown-menu">
                                {% for  brand,url in brandUrls['0-a'] %}
                                    <li><a href="{{ url }}" target="_self">{{ brand }} Cat Food Reviews</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#" target="_self" class="dropdown-toggle" data-toggle="dropdown">Brands: B - C</a>
                            <ul class="dropdown-menu">
                                {% for  brand,url in brandUrls['b-c'] %}
                                    <li><a target="_self" href="{{ url }}">{{ brand }} Cat Food Reviews</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#" target="_self" class="dropdown-toggle" data-toggle="dropdown">Brands: D - E</a>
                            <ul class="dropdown-menu">
                                {% for  brand,url in brandUrls['d-e'] %}
                                    <li><a target="_self" href="{{ url }}">{{ brand }} Cat Food Reviews</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#" target="_self" class="dropdown-toggle" data-toggle="dropdown">Brands: F - G</a>
                            <ul class="dropdown-menu">
                                {% for  brand,url in brandUrls['f-g'] %}
                                    <li><a target="_self" href="{{ url }}">{{ brand }} Cat Food Reviews</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#" target="_self" class="dropdown-toggle" data-toggle="dropdown">Brands: H - I</a>
                            <ul class="dropdown-menu">
                                {% for  brand,url in brandUrls['h-i'] %}
                                    <li><a target="_self" href="{{ url }}">{{ brand }} Cat Food Reviews</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#" target="_self" class="dropdown-toggle" data-toggle="dropdown">Brands: J - K</a>
                            <ul class="dropdown-menu">
                                {% for  brand,url in brandUrls['j-k'] %}
                                    <li><a target="_self" href="{{ url }}">{{ brand }} Cat Food Reviews</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#" target="_self" class="dropdown-toggle" data-toggle="dropdown">Brands: L - M</a>
                            <ul class="dropdown-menu">
                              {% for  brand,url in brandUrls['l-m'] %}
                                  <li><a target="_self" href="{{ url }}">{{ brand }} Cat Food Reviews</a></li>
                              {% endfor %}
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#" target="_self" class="dropdown-toggle" data-toggle="dropdown">Brands: N - O</a>
                            <ul class="dropdown-menu">
                              {% for  brand,url in brandUrls['n-o'] %}
                                  <li><a target="_self" href="{{ url }}">{{ brand }} Cat Food Reviews</a></li>
                              {% endfor %}
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#" target="_self" class="dropdown-toggle" data-toggle="dropdown">Brands: P - Q</a>
                            <ul class="dropdown-menu">
                              {% for  brand,url in brandUrls['p-q'] %}
                                  <li><a target="_self" href="{{ url }}">{{ brand }} Cat Food Reviews</a></li>
                              {% endfor %}
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#" target="_self" class="dropdown-toggle" data-toggle="dropdown">Brands: R - S</a>
                            <ul class="dropdown-menu">
                              {% for  brand,url in brandUrls['r-s'] %}
                                  <li><a target="_self" href="{{ url }}">{{ brand }} Cat Food Reviews</a></li>
                              {% endfor %}
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#" target="_self" class="dropdown-toggle" data-toggle="dropdown">Brands: T - U</a>
                            <ul class="dropdown-menu">
                              {% for  brand,url in brandUrls['t-u'] %}
                                  <li><a target="_self" href="{{ url }}">{{ brand }} Cat Food Reviews</a></li>
                              {% endfor %}
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#" target="_self" class="dropdown-toggle" data-toggle="dropdown">Brands: V - W</a>
                            <ul class="dropdown-menu">
                              {% for  brand,url in brandUrls['v-w'] %}
                                  <li><a target="_self" href="{{ url }}">{{ brand }} Cat Food Reviews</a></li>
                              {% endfor %}
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#" target="_self" class="dropdown-toggle" data-toggle="dropdown">Brands: X - Z </a>
                            <ul class="dropdown-menu">
                                {% for  brand,url in brandUrls['x-z'] %}
                                    <li><a target="_self" href="{{ url }}">{{ brand }} Cat Food Reviews</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </li>


                {% if articleUrls %}
                <li class="dropdown {{ articleNavClass }} ">
                    <a href="/blog" target="_self" class="dropdown-toggle {{ angularClasses }}" data-toggle="dropdown">Blog <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for article in articleUrls %}
                            <li><a href="{{ article.url }}" target="_self">{{ article.title | striptags }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}

                <li class="dropdown {{ faqNavClass }} {{ resourcesNavClass }} {{ aboutNavClass }} ">
                    <a href="#" target="_self" class="dropdown-toggle {{ angularClasses }}" data-toggle="dropdown">More <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="{{ faqNavClass }}"><a href="/faq" target="_self">FAQ</a></li>
                        <li class="{{ resourcesNavClass }}"><a href="/resources" target="_self">Resources</a></li>
                        <li class="{{ aboutNavClass }}"><a href="/about" target="_self">About</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle {{ angularClasses }}" data-toggle="dropdown">@CatFoodDB <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a target="_blank" href="http://twitter.com/catfooddb"><i class="fa fa-twitter fa-menu"></i>Twitter</a></li>
                        <li><a target="_blank" href="https://www.facebook.com/pages/CatFood-DB/774201792660136"><i class="fa fa-facebook fa-menu"></i>Facebook</a></li>
                        <li><a target="_blank" href="https://www.pinterest.com/catfooddb"><i class="fa fa-pinterest fa-menu" aria-hidden="true"></i>Pinterest</a></li>
                        <li><a href="mailto:support@catfooddb.com.com" target="_top"><i class="fa fa-envelope fa-menu"></i>Email</a></li>
                    </ul>
                </li>

            </ul>
            

        </div><!--/.navbar-collapse -->
    </div>
</div>

