<div class="row">
    <div class="col-md-12">
        <form role="form">
            <div class="input-group input-group--search">
                <input type="text" class="form-control has-right-control" ng-submit="updateSearch(searchData.searchText)"
                       placeholder="Search by brand, product or flavor" ng-model="searchData.searchText">
                    <span class="input-group-addon clear"><a class='clear' href="" ng-click="clearSearch(searchData.searchText)"><i class="fa fa-times"></i></a></span>
                    <span class="input-group-btn">
                        <button ng-click="updateSearch(searchData.searchText)" class="btn btn-default" type="submit">
                            Search
                        </button>
                    </span>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <hr class="spacer-10"/>

    <br/>
</div>

<div class="row" >

    <!-- left side-->
    <div class="col-md-3 ">
        <accordion close-others="false">
            <accordion-group is-open=$scope.nav.brandNav.open>
                <accordion-heading>Filter By Brand<i class="fa pull-right" ng-class="{'fa-minus-square':$scope.nav.brandNav.open, 'fa-plus-square':!$scope.nav.brandNav.open }"></i></accordion-heading>
                <div class="container-fluid">

                    <div class="col-md-12 col-xs-6 brand-filter" ng-repeat="brand in brandList | orderBy: 'name'">
                        <label class="checkbox">
                            <input class='chk-brand-{{brand.brand}}' ng-checked="brandFilter.indexOf(brand.brand) > -1"  ng-change="filterToggle(brand);updateSearch(searchData.searchText)" ng-model="notUsed" type="checkbox" >
                            {{ brand.name }}
                        </label>
                    </div>
                </div>
            </accordion-group>

            <accordion-group is-open=$scope.nav.popularNav.open>
            <accordion-heading>Popular Searches<i class="fa pull-right" ng-class="{'fa-minus-square':$scope.nav.popularNav.open, 'fa-plus-square':!$scope.nav.popularNav.open }"></i></accordion-heading>
            <div class="container-fluid">

                <div><a ng-click="updateSearch('-chicken')">Products without Chicken</a></div>
                <div><a ng-click="updateSearch('-beef')">Products without Beef</a></div>
                <div><a ng-click="updateSearch('-pork')">Products without Pork</a></div>
                <div><a ng-click="updateSearch('-turkey')">Products without Turkey</a></div>
                <div><a ng-click="updateSearch('-corn')">Products without Corn</a></div>
                <div><a ng-click="updateSearch('-seafood -tuna -fish -salmon -tuna -shrimp -crab -whitefish')">Products without Seafood</a></div>
                <div><a ng-click="updateSearch('-wheat -gluten')">Products without Wheat Gluten</a></div>
                <div><a ng-click="updateSearch('-soy')">Products without Soy</a></div>
                <div><a ng-click="updateSearch('-milk -cheese')">Products without Dairy</a></div>
                <div><a ng-click="updateSearch('-by-products')">Products without By-Products</a></div>

            </div>
            </accordion-group>

            <accordion-group is-open=$scope.nav.wetDryFoodNav.open>
                <accordion-heading>Wet or Dry Food<i class="fa pull-right" ng-class="{'fa-minus-square':$scope.nav.wetDryFoodNav.open, 'fa-plus-square':!$scope.nav.wetDryFoodNav.open }"></i></accordion-heading>
                <div class="container-fluid">

                    <div class="btn-group wetdry-toggles">
                        <label class="radio"  btn-radio=false ng-model="display.showAllFood">
                            <input type="radio" name="foodtype" ng-click="updateWetDryFilter(0)" checked/>
                            All (Wet & Dry)
                        </label>
                        <label class="radio"  btn-radio=false ng-model="display.showWetFoodOnly">
                            <input type="radio" name="foodtype" ng-click="updateWetDryFilter(1)"/>
                            Wet Food Only
                        </label>
                        <label class="radio"  btn-radio=true  ng-model="display.showDryFoodOnly">
                            <input type="radio" name="foodtype" ng-click="updateWetDryFilter(2)"/>
                            Dry Food Only
                        </label>
                    </div>

                </div>
            </accordion-group>

            <accordion-group is-open=$scope.nav.wetdryNav.open>
                <accordion-heading>
                    <span ng-hide="display.showWet">Dry Analysis</span>
                    <span ng-show="display.showWet">Wet Analysis</span>
                    <i class="fa pull-right" ng-class="{'fa-minus-square':$scope.nav.wetdryNav.open, 'fa-plus-square':!$scope.nav.wetdryNav.open }"></i>
                </accordion-heading>

                <div class="btn-group wetdry-toggles">
                    <label class="radio" ng-model="display.showWet" btn-radio=false>
                        <input type="radio" name="wetdry" checked/>
                        <strong>Dry Matter Analysis</strong> - the manufacturer's published Guaranteed Analysis numbers normalized for moisture content.
                    </label>
                    <label class="radio" ng-model="display.showWet" btn-radio=true>
                        <input type="radio" name="wetdry" />
                        <strong>Wet Matter Analysis</strong> - the Guaranteed Analysis numbers as published by the cat food manufacturer.
                    </label>
                </div>

            </accordion-group>
        </accordion>
    </div>
    <!-- end left side filter controls -->

    <!-- right side -->
    <div class="col-md-9">

        <!-- spinner -->
        <div class="spinner" ng-show="showSpinner()"><i class="fa fa-spinner fa-spin fa-4x"></i></div>
        <!-- end spinner -->

        <div class="row ">

            <!-- info bars -->
            <div class="col-xs-12">

                <div class="info-bar info-danger alert-dismissible search-error" role="alert" id="search-warning" ng-show="showWarningMessage()">
                    <button type="button" class="close " ng-click="disableHiddenSearchWarning()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <p>Searches must include at least one search term or brand.</p>
                </div>

                <div class=" info-bar info-app" ng-show="showResultSuccessMessage()">
                    <span search-success-text></span>
                    <button class="btn btn-info btn-xs pull-right" ng-click="resetSearch()">Reset Search</button>
                </div>
                <div class="info-bar info-app" ng-show="showResultEmptyMessage()">
                    <span ng-show="searchData.searchedText">No results for <strong ng-bind="searchData.searchedText"></strong>. <br /></span>
                    <span ng-hide="searchData.searchedText">No results found. <br /></span>
                    <span filter-display-string></span>
                    <button class="btn btn-info btn-xs pull-right" ng-click="resetSearch()">Reset Search</button>
                </div>
                <div class="info-bar info-danger" ng-show="showResultErrorMessage()">
                    Error searching for <strong ng-bind="searchData.searchedText"></strong>. Please reload the page and try your search again.
                </div>
                <div class="panel panel-app panel-intro" ng-show="showIntroMessage()">
                    <div class="panel-heading">
                        <h2 class="panel-title">Find nutritional information for over two thousand commercial wet and dry cat foods!</h2>
                    </div>
                    <div class="panel-body">
                        <p><strong>Curious about a particular cat food?</strong> Search for it here for a quick summary, and follow the link for a more in-depth review.

                        <p><strong>Does your cat have allergies? </strong> Check the Popular Searches

                            <span class="hidden-xs hidden-sm">to the left</span>
                            <span class="hidden-md hidden-lg">above</span>
                            to see which foods are made without common allergens. </p>

                        <p><strong>Try our Super Smart Search!</strong> At CatFoodDB we're proud of our search capabilities! Find foods by brand,
                            name, type, and with or without specific ingredients. We've added the ability to exclude terms, combine terms,
                            search partial terms, and so much more. See some search examples in the Popular Searches, and check out our <a href="/faq">FAQ</a>
                            for more indepth instructions.</p>

                        <p><strong>Need help evaluating different cat foods?</strong> Each of the cat foods listed on our site is accompanied by a full fact-based review. Follow the links
                        from each result to read our analysis and to learn more about how it compares against the others!</p>

                        <p><strong>Is Kitty on a diet? </strong>Here you can check the calorie content of some your feline's favorite foods.</p>

                        <p><strong>Just browsing? </strong>Trying to figure out what to feed your picky eater next? Browse and even purchase hundreds of different
                        cat food products right here! No need to stand in the cat food isle any longer, wondering what the differences are between
                        brands - we've brought all the information together in one handy location.</p>

                        <p><strong>Have questions? </strong>Our <a href="/faq"><strong>FAQ</strong></a> has all the answers!</p>



                    </div>
                </div>

            </div>
            <!-- end info bars -->


            <!-- toolbar -->
            <div class="btn-toolbar col-xs-12 data-menu" ng-hide="showSpinner()">

                <div ng-show="showListSearchResults() && !display.showWet" class="btn-group list-sort">
                    <button class="btn btn-info btn-sm view-toggle disabled" text="Sort By:" >Sort By:</button>
                    <button sorting class="btn btn-default btn-sm view-toggle" text="Name" order="'displayName'" by="table.orderBy" reverse="table.reverse">Name</button>
                    <button sorting class="btn btn-default btn-sm view-toggle" text="Protein" order="'percentages.dry.protein'" by="table.orderBy" reverse="table.reverse">Protein</button>
                    <button sorting class="btn btn-default btn-sm view-toggle" text="Fat" order="'percentages.dry.fat'" by="table.orderBy" reverse="table.reverse">Fat</button>
                    <button sorting class="btn btn-default btn-sm view-toggle" text="Fiber" order="'percentages.dry.fibre'" by="table.orderBy" reverse="table.reverse">Fibre</button>
                    <button sorting class="btn btn-default btn-sm view-toggle" text="Carbs" order="'percentages.dry.carbohydrates'" by="table.orderBy" reverse="table.reverse">Carbs</button>
                    <button sorting class="btn btn-default btn-sm view-toggle" text="Calories" order="'caloriesPer100g.total'" by="table.orderBy" reverse="table.reverse">Calories</button>

                </div>

                <div ng-show="showListSearchResults() && display.showWet" class="btn-group list-sort">
                    <button class="btn btn-info btn-sm view-toggle disabled" text="Sort By:" >Sort By:</button>
                    <button sorting class="btn btn-default btn-sm view-toggle" text="Name" order="'displayName'" by="table.orderBy" reverse="table.reverse">Name</button>
                    <button sorting class="btn btn-default btn-sm view-toggle" text="Protein" order="'percentages.wet.protein'" by="table.orderBy" reverse="table.reverse">Protein</button>
                    <button sorting class="btn btn-default btn-sm view-toggle" text="Fat" order="'percentages.wet.fat'" by="table.orderBy" reverse="table.reverse">Fat</button>
                    <button sorting class="btn btn-default btn-sm view-toggle" text="Fiber" order="'percentages.wet.fibre'" by="table.orderBy" reverse="table.reverse">Fibre</button>
                    <button sorting class="btn btn-default btn-sm view-toggle" text="Carbs" order="'percentages.wet.carbohydrates'" by="table.orderBy" reverse="table.reverse">Carbs</button>
                    <button sorting class="btn btn-default btn-sm view-toggle" text="Calories" order="'caloriesPer100g.total'" by="table.orderBy" reverse="table.reverse">Calories</button>


                </div>

                <div class="btn-group btn-group-default pull-right view-toggle ng-hide">
                    <button type="button" class="btn btn-default btn-sm view-toggle" ng-class="{active: display.showList}" ng-click="showList()">
                        <i ng-class="{active: display.showList}" class="fa fa-lg fa-fw fa-th-list" tooltip="List View" tooltip-popup-delay="300"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-sm view-toggle"  ng-class="{active: display.showTable}" tooltip="Table View" tooltip-popup-delay="300"  ng-click="showTable()">
                        <i ng-class="{active: display.showTable}" class="fa fa-lg fa-fw fa-table"></i>
                    </button>
                </div>

            </div>
            <!-- end toolbar -->
        </div>

        <!-- search results -->
        <div class="list-view  listings" ng-show="display.showList && hasSearchResults()">
            <div class="row listing-row"
                 ng-init="pagination.start = (pagination.currentPage - 1) * pagination.itemsPerPage"
                 ng-repeat="product in searchData.results |
                    orderBy:table.orderBy:table.reverse |
                    offset: pagination.start |
                    limitTo: pagination.itemsPerPage
                    "
                >
                <div class="col-sm-2 hidden-xs">

                    <!-- image with link -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="thumbnail">
                                <a target="_blank" ng-href="/product/{{ product.productPath}}">
                                    <img ng-src="{{ product.imageUrl }}" alt="{{ product.displayName }}">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-show="!!product.purchaseUrl">
                        <div class="col-xs-12 text-center">
                            <a ng-href="{{ product.purchaseUrl }}" target="_blank">
                                <button class="btn btn-default btn-xs btn-block hidden-xs" type="submit">Buy Now</button>
                            </a>
                        </div>
                    </div>


                </div>


                <div class="col-sm-10">
                    <div class="row">

                        <div class="col-sm-9 col-xs-12">
                            <a ng-href="/product/{{ product.productPath}}" target="_self"><h3 class="product-description" ng-bind="product.displayName"></h3></a>

                        </div>

                        <div class="col-sm-3 col-sx-12">
                            <paws-score class='pull-right' nutrition="{{ product.allExtraData.nutritionScore }}" ingredient="{{  product.allExtraData.ingredientScore }}"></paws-score>
                        </div>
                    </div>

                    <div class="nutrition">

                        <div class="row" ng-hide="display.showWet">
                            <div class="col-xs-6 col-sm-4 col-md-2"><strong>Protein:</strong>&nbsp;<span class="extra-muted">(min)</span></div>
                            <div class="col-xs-6 col-sm-2 col-md-1 text-right">{{ product.percentages.dry.protein | number : 1 }}%</div>
                            <div class="col-xs-6 col-sm-4 col-md-2"><strong>Fat:</strong>&nbsp;<span class="extra-muted">(min)</span></div>
                            <div class="col-xs-6 col-sm-2 col-md-1 text-right">{{ product.percentages.dry.fat | number : 1 }}%</div>

                            <div class="col-xs-6 col-sm-4 col-md-2"><strong>Fiber:</strong>&nbsp;<span class="extra-muted">(max)</span></div>
                            <div class="col-xs-6 col-sm-2 col-md-1 text-right">{{ product.percentages.dry.fibre | number : 1 }}%</div>
                            <div class="col-md-2 hidden-sm hidden-xs">&nbsp;</div>
                            <div class="col-xs-6 col-sm-4 col-md-2"><strong>Carbs:</strong>&nbsp;<span class="extra-muted">(est)</span></div>
                            <div class="col-xs-6 col-sm-2 col-md-1 text-right">{{ product.percentages.dry.carbohydrates | number : 1 }}%</div>

                            <div class="col-xs-6 col-sm-4 col-md-2 "><strong>Ash:</strong>&nbsp;<span class="extra-muted">(est)</span></div>
                            <div class="col-xs-6 col-sm-2 col-md-1 text-right">{{ product.percentages.dry.other | number : 1 }}%</div>
                            <div class="hidden-xs col-sm-4 col-md-2"><strong>Moisture:</strong></div> <!-- dry moisture placeholder -->
                            <div class="hidden-xs col-sm-2 col-md-1 text-right">--</div> <!-- dry moisture placeholder -->

                            <div class="col-md-2 hidden-sm hidden-xs">&nbsp;</div>
                            <div class="col-xs-6 col-sm-4 col-md-2"><strong>Calories:</strong>&nbsp;<span class="extra-muted">(est)</span></div>
                            <div class="col-xs-6 col-sm-2 col-md-1 text-right">{{ product.caloriesPer100g.total | number : 0 }}/100g</div>

                            <div class="hidden-sm hidden-xs col-md-2">&nbsp;</div>
                            <div class="hidden-sm hidden-xs col-md-1 text-right">&nbsp;</div>
                            <div class="hidden-xs col-sm-4 col-md-2"><strong>Source:</strong></div>
                            <div class="hidden-xs col-sm-2 col-md-1 text-right"><a class='source' target="_blank" ng-href="{{product.source}}"><i class="fa fa-lg fa-info-circle"></i></a></div>
                            <div class="hidden-lg hidden-md hidden-sm col-xs-6"><strong>Source:</strong></div>
                            <div class="hidden-lg hidden-md hidden-sm col-xs-6 text-right"><a class='source' target="_blank" ng-href="{{product.source}}"><i class="fa fa-lg fa-info-circle"></i></a></div>


                        </div>
                        <div class="row" ng-show="display.showWet">
                            <div class="col-xs-6 col-sm-4 col-md-2"><strong>Protein:</strong>&nbsp;<span class="extra-muted">(min)</span></div>
                            <div class="col-xs-6 col-sm-2 col-md-1 text-right">{{ product.percentages.wet.protein | number : 1 }}%</div>
                            <div class="col-xs-6 col-sm-4 col-md-2"><strong>Fat:</strong>&nbsp;<span class="extra-muted">(min)</span></div>
                            <div class="col-xs-6 col-sm-2 col-md-1 text-right">{{ product.percentages.wet.fat | number : 1 }}%</div>

                            <div class="col-xs-6 col-sm-4 col-md-2"><strong>Fiber:</strong>&nbsp;<span class="extra-muted">(max)</span></div>
                            <div class="col-xs-6 col-sm-2 col-md-1 text-right">{{ product.percentages.wet.fibre | number : 1 }}%</div>
                            <div class="col-md-2 hidden-sm hidden-xs">&nbsp;</div>

                            <div class="col-xs-6 col-sm-4 col-md-2"><strong>Carbs:</strong>&nbsp;<span class="extra-muted">(est)</span></div>
                            <div class="col-xs-6 col-sm-2 col-md-1 text-right">{{ product.percentages.wet.carbohydrates | number : 1 }}%</div>

                            <div class="col-xs-6 col-sm-4 col-md-2 "><strong>Ash:</strong>&nbsp;<span class="extra-muted">(est)</span></div>
                            <div class="col-xs-6 col-sm-2 col-md-1 text-right">{{ product.percentages.wet.other | number : 1 }}%</div>
                            <div class="col-xs-6 col-sm-4 col-md-2"><strong>Moisture:</strong>&nbsp;<span class="extra-muted">(max)</span></div>
                            <div class="col-xs-6 col-sm-2 col-md-1 text-right">{{ product.percentages.wet.moisture | number : 1 }}%</div>

                            <div class="col-md-2 hidden-sm hidden-xs">&nbsp;</div>
                            <div class="col-xs-6 col-sm-4 col-md-2"><strong>Calories:</strong>&nbsp;<span class="extra-muted">(est)</span></div>
                            <div class="col-xs-6 col-sm-2 col-md-1 text-right">{{ product.caloriesPer100g.total | number : 0 }}/100g</div>

                            <div class="hidden-sm hidden-xs col-md-2">&nbsp;</div>
                            <div class="hidden-sm hidden-xs col-md-1 text-right">&nbsp;</div>
                            <div class="hidden-xs col-sm-4 col-md-2"><strong>Source:</strong></div>
                            <div class="hidden-xs col-sm-2 col-md-1 text-right"><a target="_blank" ng-href="{{product.source}}"><i class="fa fa-lg fa-info-circle"></i></a></div>
                            <div class="hidden-lg hidden-md hidden-sm col-xs-6"><strong>Source:</strong></div>
                            <div class="hidden-lg hidden-md hidden-sm col-xs-6 text-right"><a target="_blank" ng-href="{{product.source}}"><i class="fa fa-lg fa-info-circle"></i></a></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <strong>Ingredients: </strong>
                                <span class="text-muted">
                                    {{ product.ingredients | characters:product.ingredientLength:false }}
                                    <a class='show-more' ng-show="product.ingredientLength < data.maxIngredientLength" ng-click="changeLength(product, data.maxIngredientLength )">More</a>

                                </span>
                            </div>
                        </div>
                        <div class="row updated ng-hide" ng-show="product.ingredientLength > 1000" >
                            <div class="col-xs-6"><strong>Last Updated: </strong>{{ product.updated }}
                                <br />
                                <a class="ng-hide show-less" ng-show="product.ingredientLength == data.maxIngredientLength" ng-click="changeLength(product, data.minIngredientLength )">Less</a>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- show image and link on xs devices only underneath if there an amazon link -->
                <div class="col-sm-2 hidden-sm hidden-md hidden-lg">
                    <!-- image with link -->
                    <div class="row">
                        <div class="col-xs-12">
                            <a ng-href="/product/{{ product.productPath}}" target="_self" class="thumbnail">
                                <img alt="176 * 120"  ng-src="{{ product.imageUrl }}">
                            </a>
                        </div>


                    </div>

                    <div class="row" ng-show="!!product.purchaseUrl">
                        <div class="col-xs-12 text-center">
                                <a ng-href="{{ product.purchaseUrl }}" target="_blank">
                                <button class="btn btn-default btn-xs btn-block visible-xs" type="submit">Buy Online At Amazon</button>
                            </a>
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-xs-12">
                <pagination
                    class='pull-right pagination-sm'
                    class='pull-right pagination-sm'
                    max-size="pagination.maxSize"
                    rotate="false"
                    boundary-links="true"
                    total-items="pagination.totalItems"
                    items-per-page="pagination.itemsPerPage"
                    ng-model="pagination.currentPage"
                    ng-change="pageChanged()">
                </pagination>
            </div>
        </div>
        <div class="table-view"  ng-show="display.showTable && hasSearchResults()">
            <table class="table table-bordered table-responsive table-striped table-condensed">
                <thead>
                <tr>
                    <th sort order="'displayName'" by="table.orderBy" reverse="table.reverse">Product</th>
                    <th ng-hide="display.showWet" sort order="'percentages.dry.protein'" by="table.orderBy" reverse="table.reverse">Protein</th>
                    <th ng-hide="display.showWet" sort order="'percentages.dry.fat'" by="table.orderBy" reverse="table.reverse">Fat</th>
                    <th ng-hide="display.showWet" sort order="'percentages.dry.fibre'" by="table.orderBy" reverse="table.reverse">Fibre</th>
                    <th ng-hide="display.showWet" sort order="'percentages.dry.carbohydrates'" by="table.orderBy" reverse="table.reverse">Carbs</th>


                    <th ng-show="display.showWet" sort order="'percentages.wet.protein'" by="table.orderBy" reverse="table.reverse">Protein</th>
                    <th ng-show="display.showWet" sort order="'percentages.wet.fat'" by="table.orderBy" reverse="table.reverse">Fat</th>
                    <th ng-show="display.showWet" sort order="'percentages.wet.fibre'" by="table.orderBy" reverse="table.reverse">Fibre</th>
                    <th ng-show="display.showWet" sort order="'percentages.wet.carbohydrates'" by="table.orderBy" reverse="table.reverse">Carbs</th>

                    <th sort order="'caloriesPer100g.total'" by="table.orderBy" reverse="table.reverse">Calories per 100g</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="product in searchData.results | orderBy:table.orderBy:table.reverse ">
                    <td class="product-label">
                            <span class="hidden-xs">
                                <a ng-href="{{ product.purchaseUrl }}" target="_blank" ng-show="!!product.purchaseUrl">{{ product.displayName }}</a>
                                <span ng-hide="product.purchaseUrl" ng-bind="product.displayName"></span>
                            </span>
                            <span class="visible-xs">
                                <a ng-href="{{ product.purchaseUrl }}" target="_blank" ng-show="!!product.purchaseUrl">{{ product.displayName | words:8:ignoreSpaces }}</a>
                                <span ng-hide="product.purchaseUrl">{{ product.displayName | words:8:ignoreSpaces }}</span>
                            </span>

                    </td>
                    <td ng-hide="display.showWet" class="text-right">{{ product.percentages.dry.protein | number : 1 }}%</td>
                    <td ng-hide="display.showWet" class="text-right">{{ product.percentages.dry.fat | number : 1 }}%</td>
                    <td ng-hide="display.showWet" class="text-right">{{ product.percentages.dry.fibre | number : 1 }}%</td>
                    <td ng-hide="display.showWet" class="text-right">{{ product.percentages.dry.carbohydrates | number : 1 }}%</td>
                    <td ng-show="display.showWet" class="text-right">{{ product.percentages.wet.protein | number : 1 }}%</td>
                    <td ng-show="display.showWet" class="text-right">{{ product.percentages.wet.fat | number : 1 }}%</td>
                    <td ng-show="display.showWet" class="text-right">{{ product.percentages.wet.fibre | number : 1 }}%</td>
                    <td ng-show="display.showWet" class="text-right">{{ product.percentages.wet.carbohydrates | number : 1 }}%</td>

                    <td class="text-right">{{ product.caloriesPer100g.total | number : 0 }}</td>
                    <td class="text-center"><a target="_blank" tooltip="Manufacturer's published product info" tooltip-popup-delay="300" target="_blank" ng-href="{{ product.source }} "><i class="fa fa-lg fa-info-circle"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>


        <!-- end search results -->

    </div>
</div>




