
{% set amazonUrl = product.getPurchaseUrl() %}
{% set imgSrc = product.getExtraData('list_img') %}
{% if imsSrc is empty %}
  {% set imgSrc = product.getImageUrl() %}
{% endif %}
{% set score = product.getExtraData('ingredients_rating') + product.getExtraData('nutrition_rating') %}
{% set allergenTypes = product.getExtraData('allergenData')['specificAllergens'] %}
{% set primaryProteins = product.getExtraData('primaryProteins') %}

{% if hideCharts is not defined %}
  {% set hideCharts = false %}
{% endif %}

<div class="row list-item">
  <hr />
  <div class="col-xs-12 col-sm-3" >
    {% if amazonUrl %}
      <a href="{{ amazonUrl | default("#") }}" target="_blank">
        <img alt="{{ product.displayName }}"
             title="{{ product.displayName }}"
             src="{{ imgSrc }}"
             class="blog-list img-responsive center-block text-center"
        />
      </a>
    {% else %}
      <img src="{{ imgSrc }}" alt="{{ product.displayName }}" class="blog-list img-responsive center-block text-center"/>
    {% endif %}
    {% if amazonUrl %}
      <a href="{{ amazonUrl }}" target="_blank">
        <button class="btn center-block btn-info text-center btn-amazon" type="submit">Check Price
        </button>
      </a>
    {% endif %}
  </div>
  <div class="col-xs-12 col-sm-9" >
    <h3 style="margin-top:-5px;">
      <a href="{{ product | catfood_url  }}" title="{{ product.displayName }}">
        {% if rank %}
          {% if rank | is_numeric %}
            #{{ rank }}:
          {% else %}
            {{ rank }}:
          {% endif %}
        {% endif %}
        {{ product.brand }} - {{ product.flavor }} </a>
    </h3>


    <span class="hidden-xs list-item-padded-text">
      <div>
        <strong>CatFoodDB Rating:</strong>
        <span class="visible-xs-block zero-height "></span>
              {{  product.getExtraData('ingredients_rating') |paws("ingredients-paws") }}{{ product.getExtraData('nutrition_rating') |paws("nutrition-paws") }}
      </div>
      <div>
        <strong>Allergens:</strong> {{  allergenTypes | commaList }}
      </div>
      <div>
        <strong>Primary Proteins:</strong> {{ primaryProteins | commaList }}
      </div>
      <div>
        {% if (related) %}
          <strong>Similar Varieties:</strong>
          {% for relatedProduct in related %}
            {{- relatedProduct | catfood_url | url(relatedProduct.flavor)  -}}{% if not(loop.last) %},{% endif %}
          {% endfor %}.
        {% endif %}
      </div>
      {% if not hideCharts %}
        <div class="row">
          <div class="col-sm-6 dotted-right-border" >
            <b>Dry Matter Breakdown:</b>
            {% include 'partials/charts/gDryGAPieChart.html.twig' with
              {'chartId': product.id, 'dry': product.getPercentages()['dry'], 'legendAlign': "left", 'height': 150  }
            %}
          </div>
          <div class="col-sm-6">
            <b>Calorie Breakdown:</b>
            {% include 'partials/charts/gCaloriePieChart.html.twig' with
              {'chartId': product.id, 'calories': product.getCaloriesPer100g(), 'legendAlign': "right", 'height': 150 }
            %}
          </div>
        </div>
      {% endif %}
      
    </span>

  </div>

  <div class="col-xs-12 visible-xs-block xs-list-item" >
    <div style="padding-top: 10px">
      <strong>CatFoodDB Rating:</strong>
      {{  product.getExtraData('ingredients_rating') |paws("ingredients-paws") }}{{ product.getExtraData('nutrition_rating') |paws("nutrition-paws") }}
    </div>
    <div>
      <strong>Allergens:</strong> {{  allergenTypes | commaList }}
    </div>
    <div>
      <strong>Primary Proteins:</strong> {{ primaryProteins | commaList }}
    </div>
    <div>
      {% if (related) %}
        <strong>Similar Varieties:</strong>
        {% for relatedProduct in related %}
          {{- relatedProduct | catfood_url | url(relatedProduct.flavor)  -}}{% if not(loop.last) %},{% endif %}
        {% endfor %}.
      {% endif %}
    </div>
    {% if not hideCharts %}
      <div class="row">
        <div class="col-sm-12" >
          <span class="list-item-chart-title">Dry Matter Breakdown:</span>
          {% include 'partials/charts/gDryGAPieChart.html.twig' with
          {'chartId': 'm'~product.id, 'dry': product.getPercentages()['dry'], 'height': 120 }
          %}
        </div>
        <div class="col-sm-12">
          <span class="list-item-chart-title">Calorie Breakdown:</span>
          {% include 'partials/charts/gCaloriePieChart.html.twig' with
          {'chartId': 'm'~product.id, 'calories': product.getCaloriesPer100g(), 'height': 120  }
          %}
        </div>
      </div>
    {% endif %}
  </div>
  
</div>