{% extends "base.html.twig" %}

{% block content %}
<div class="container" style="padding-top:30px; padding-bottom:30px;">

  <div class="row">
    <div class="col-md-1 col-md-offset-11">
      <a href="{{ next }}"><button class="btn btn-info pull-right" style="margin-left:10px">Next</button></a>
    </div>
  </div>
  <div class="row">
  {% for i, product in products %}
    <div class="col-md-3">
      <div style='min-height: 100px'><a  href="/product/{{ product.id }}">{{ product.id }}: {{ product.displayName }}</a></div>
      <img alt="{{ product.displayName }}"
      title="{{ product.displayName }}"
      src="{{ product | catfood_image_max }}"
      class="thumbnail img-responsive"
      />
      <small><a href="{{ product | catfood_image_max }}">{{ product | catfood_image_max }}</a></small>
    </div>

    {% if (i % 4 == 3) %}
      </div>
      <hr>
      <div class="row">
    {% endif %}

  {% endfor %}

    <div class="row">
      <div class="col-md-1 col-md-offset-11">
        <a href="{{ next }}"><button class="btn btn-info pull-right" style="margin-left:10px">Next</button></a>
      </div>
    </div>
  </div>
</div>

{% endblock %}