{% set dry = product.getPercentages()['dry'] %}
<div class="container-fluid" style="padding-left: 0px">
  <div class="row">
    <div class="col-xs-6">
      <b>Id:</b> {{ product.id }} <br>
      <b>{{ product | catfood_url | url("Link")}} </b><br>
      <b>Score:</b> {{ product.getExtraData('score') }}<br>
    </div>
    <div class="col-xs-6">
      <b>Diff:</b> {{ (dry['protein'] - dry['carbohydrates']) | round(1) }}<br>
      <b>Protein: </b>{{ dry['protein'] | round(1) }}<br/>
      <b>Carbs:</b> {{ dry['carbohydrates'] | round(1) }}
    </div>
  </div>
  
</div>
