{% extends "base.html.twig" %}

{% block content %}
<div class="container" style="padding-top:30px; padding-bottom:30px;">
  <div class="row">
    <div class="col-xs-9">

      {% block flash %}
        {% if flash['insert'] %}
          <div class="alert alert-success" role="success">
            <span>{{ flash['insert'] }}</span>
          </div>
        {% endif %}
        {% if flash['update'] %}
          <div class="alert alert-success" role="success">
            <span>{{ flash['update'] }}</span>
          </div>
        {% endif %}
        {% if flash['error'] %}
          <div class="alert alert-danger" role="danger">
            <span>{{ flash['error'] }}</span>
          </div>
        {% endif %}
      {% endblock %}

      {% block h2 %}
        {% if defaults['id'] %}
          <h4>Update Product ID {{ defaults['id'] }} - {{ defaults['flavor'] }}</h4>
          <a href="/product/{{ defaults['id'] }}">Product Page</a>
        {% else %}
          <h4>Create a product</h4>
        {% endif %}
      {% endblock %}
      <hr />
    </div>
    <div class="col-xs-3">
      {% if defaults['id'] %}
        {% set prev = max(1, defaults['id'] - 1) %}
        {% set next = defaults['id'] + 1 %}

        <a href="/admin/update/{{ next }}"><button class="btn btn-info pull-right" style="margin-left:10px">Next ></button></a>
        <a href="/admin/update/{{ prev }}"><button class="btn btn-info pull-right">< Prev</button></a>
      {% endif %}
    </div>
  </div>

    {% block adminContent %}
    <form action="{{ posturl }}" method="post">
      {% if defaults['id'] %}
        <input type="hidden" name="id" id="id" value="{{ defaults['id'] }}">
      {% endif %}

      <div class="row">
      <div class="col-xs-4">
        <div class="form-group">
          <label for="brand">Brand</label>
          <input name='brand' type="text" required class="form-control" id="brand"  placeholder="Brand"
          {% if defaults['brand'] %} value="{{ defaults['brand'] }}" {% endif %}
          >
        </div>
        <div class="form-group">
          <label for="flavor">Flavor</label>
          <input name="flavor" type="text" required class="form-control" id="flavor" placeholder="Flavor"
          {% if defaults['flavor'] %} value="{{ defaults['flavor'] }}" {% endif %}
          >
        </div>
        <div class="form-group">
          <label for="asin"><a href="http://www.amazon.com/exec/obidos/ASIN/{{ catfood.asin  }}" target="_blank">Amazon Asin</a></label>
          <input name="asin" type="text" class="form-control" id="asin" placeholder="Asin"
          {% if defaults['asin'] %} value="{{ defaults['asin'] }}" {% endif %}
          >
        </div>
      </div>
      <div class="col-xs-4">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="protein">Protein % (min)</label>
            <input name="protein" type="number" required step="any" min="0" max="100" class="form-control" id="protein" placeholder="%"
                {% if defaults['protein'] %} value="{{ defaults['protein'] }}" {% endif %}
            >
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label for="fat">Fat % (min)</label>
            <input name="fat" type="number" required step="any"  min="0" max="100" class="form-control" id="fat" placeholder="%"
                {% if defaults['fat'] %} value="{{ defaults['fat'] }}" {% endif %}
            >
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label for="fibre">Fiber % (max)</label>
            <input name="fibre" type="number" required step="any"  min="0" max="100" class="form-control" id="fibre" placeholder="%"
                {% if defaults['fibre'] %} value="{{ defaults['fibre'] }}" {% endif %}
            >
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label for="moisture">Moisture % (max)</label>
            <input name="moisture" type="number" required  step="any"  min="0" max="100" class="form-control" id="moisture" placeholder="%"
                {% if defaults['moisture'] %} value="{{ defaults['moisture'] }}" {% endif %}
            >
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label for="ash">Ash, etc %</label>
            <input name="ash"  required step="any" min="0" max="100" class="form-control" id="ash" placeholder="%"

                {% if defaults['ash'] %}
                  value="{{ defaults['ash']  }}"
                {% else %}
                  value="0"
                {% endif %}
            >
          </div>
        </div>
      </div>

      <div class="col-xs-4">
        <div class="form-group">
          <label for="ingredients">Ingredients</label>
          {% spaceless %}
          <textarea rows="8" required name="ingredients" class="form-control" id="ingredients" placeholder="Ingredients">{% if defaults['ingredients'] %}{{defaults['ingredients']}}{% endif %}</textarea>
          {% endspaceless %}
        </div>
      </div>
      </div>


      <div class="row">
        <div class="col-xs-9">
          <div class="form-group">
            <label for="flavor"><a href="{{ defaults['source'] }}" target="_blank">Source Url</a></label>
            <input name="source" required type='url' class="form-control" id="source" placeholder="source"
                    {% if defaults['source'] %} value="{{ defaults['source'] }}" {% endif %}
            >
          </div>
        </div>

        <div class="col-xs-3">
          <div class="form-group">
            <div class="checkbox pull-right">
              <label>
                <input name='discontinued' id='discontinued' type="checkbox"
                        {% if defaults['discontinued'] == 1 %} checked {% endif %}
                > Discontinued?
              </label>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-xs-9">
          <div class="form-group">
            <label for="flavor"><a href="{{ catfood.imageUrl }}" target="_blank">Image Url</a></label>
            <input name="imageUrl"  class="form-control" id="imageUrl" placeholder="image url"{% if defaults['imageUrl'] %} value="{{ defaults['imageUrl'] }}" {% endif %}
            >
          </div>
        </div>

        <div class="col-xs-3">
          <button type="submit" class="btn btn-default pull-right">Submit</button>
        </div>
      </div>


      <div class="row">
        <div class="col-xs-3">
          <img src="{{ catfood.imageUrl }}" class="thumbnail pull-left">
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="chewy"><a href="{% if defaults['chewy'] %}{{defaults['chewy']}}{% endif %}">Chewy Url</a></label>
            {% spaceless %}
              <textarea rows="1" name="chewy" class="form-control" id="chewy">{% if defaults['chewy'] %}{{defaults['chewy']}}{% endif %}</textarea>
            {% endspaceless %}
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="petsmart">Petsmart Url</label>
            {% spaceless %}
              <textarea rows="1" name="petsmart" class="form-control" id="petsmart">{% if defaults['petsmart'] %}{{defaults['petsmart']}}{% endif %}</textarea>
            {% endspaceless %}
          </div>
        </div>
      </div>

    </form>
    {% endblock %}

  {% if catfood.source and showIframe %}
    <div class="row">
      <div class="col-xs-12">
        <hr />
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" src="{{ catfood.source }}"></iframe>
        </div>
      </div>
    </div>

  {% endif %}


    </div>


</div>

{% endblock %}