{% extends "base.html.twig" %}

{% block init %}
{% endblock %}

{% block content %}

  {% block preContainerContent %}

  {% endblock %}


  <div class="{% block pageContainerClasses %}  {% endblock %}" >

    <div class="row">

      <!-- Blog Post Content Column -->
      <div class="col-md-9">

        <!-- Blog Post -->

        <!-- Title -->
        {% block mainContent %}

        {% endblock %}


      </div>

      <!-- Blog Sidebar Widgets Column -->
      <div class="col-md-3">
        
        {% block social %}
          {% set urlEncoded = seo['url']|url_encode %}

          <div class="well well-slim text-center">
            <ul class="share-buttons social-icons list-unstyled list-inline">
              <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ urlEncoded }}&t={{ shareText }}" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
              <li><a href="https://twitter.com/intent/tweet?source={{ urlEncoded }}&text={{ shareText }} {{ urlEncoded }}&via=catfooddb" target="_blank" title="Tweet"><i class="fa fa-twitter-square fa-2x"></i></a></li>
              <li><a href="http://pinterest.com/pin/create/button/?url={{ urlEncoded }}&media={{ shareImage }}&description={{ shareText }}" target="_blank" title="Pin it"><i class="fa fa-pinterest-square fa-2x"></i></a></li>
            </ul>
          </div>
        {% endblock %}

        {% block search %}
        <div class="well well-slim">
          <h4 class="text-center"><a href="/search">CatFoodDB Search</a></h4>
          {% include 'partials/search-bar.html.twig' %}
        </div>
        {% endblock %}

        {% block email %}
          <div class="well text-center">
            {% include 'partials/email-signup.html.twig' %}
          </div>
        {% endblock %}
        
        {% block chewy %}
          <div class="well text-center well-chewy">
            {% include 'partials/chewy.html.twig' with {source:"sidebar"} %}
          </div>
        {% endblock %}

        <!-- Blog Categories Well -->
        {% block similarProducts %}
        {% if related %}
          <div class="well well-slim">
            <h4 class="text-center">Similar Products</h4>
            <hr class="related" />
            <div class="row">
              <div class="col-lg-12">
                <ul class="list-unstyled">
                  {% for product in related[:6] %}
                    <li class="similar"><a href="/product/{{ product.productPath}}">{{ product.displayName }}</a></li>
                    <hr class="related" />
                  {% endfor %}
                </ul>
              </div>
            </div>
            <!-- /.row -->
          </div>
        {% endif %}
        {% endblock %}

        {% block recentBrands %}
          {% if updatedBrands %}
            <div class="well well-slim">
              <h4 class="text-center">Recently Updated Reviews</h4>
              <hr class="related" />
              <div class="row">
                <div class="col-lg-12">
                  <ul class="list-unstyled">
                    {% for name,url  in updatedBrands %}
                      <li class="similar text-center"><a href="{{ url }}">{{ name }}</a></li>
                      <hr class="related" />
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <!-- /.row -->
            </div>

          {% endif %}
        {% endblock %}

        {% block articles %}
          {% if articleUrls %}
            <div class="well well-slim">
              <h4 class="text-center"><a href="/blog">Recent Blog Posts</a></h4>
              <hr class="related" />
              <div class="row">
                <div class="col-lg-12">
                  <ul class="list-unstyled">
                    {% for article in articleUrls[:6] %}
                      <li class="similar"><a href="{{ article.url }}">{{ article.title | striptags }}</a></li>
                      <hr class="related" />
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <!-- /.row -->
            </div>
          {% endif %}
        {% endblock %}

        {% block support %}
        {#<div class="well ad-replacement well-slim">#}
          {#<h4 class="text-center">Support CatFoodDB!</h4>#}
          {#<p class="text-center" >If you find CatFoodDB useful, please consider supporting us by using our Amazon affiliate links for your online shopping.</p>#}
          {#<p class="">#}
            {#<a style="float:left" href="http://amzn.to/1rvaEjL"><img class="flag" src="/img/flags/US.png" alt="United States">Amazon</a>#}
            {#&nbsp;#}
            {#<a style="float:right" href="https://www.amazon.ca/ref=as_li_ss_tl?_encoding=UTF8&camp=15121&creative=390961&linkCode=ur2&tag=ca034-20"><img class="flag" alt="Canada" src="/img/flags/CA.png">Amazon</a></p>#}
        {#</div>#}
        {% endblock %}

        <!-- Side Widget Well -->
        {% block amazonAds %}
        <div class="well ad well-slim">
          {% include 'partials/amazon.html.twig' %}
        </div>
        {% endblock %}



      </div>




    </div>
  </div>

{% endblock %}
