{% extends "page_template.html.twig" %}

{% set amazonUrl = product.purchaseUrl %}
{% set calories = product.getCaloriesPer100g['total'] / 3.54  %}
{% set fillers = product.getExtraData('fillers') %}
{% set proteins = product.getExtraData('proteins') %}
{% set allergens = product.getExtraData('allergenData')['allergenList'] %}
{% set allergenTypes = product.getExtraData('allergenData')['specificAllergens'] %}
{% set byproducts = product.getExtraData('byproducts') %}
{% set productStats = product.getExtraData('stats') %}
{% set nutrition = product.getExtraData('stats')['nutrition_rating'] %}
{% set ingredients = product.getExtraData('stats')['ingredients_rating'] %}
{% set analysis = product.getExtraData('analysis')  %}
{% set preservatives = product.getExtraData('preservatives')  %}
{% set additives = product.getExtraData('additives')  %}
{% set isTopMoisture = product.getExtraData('topIsMoisture')  %}
{% set avgPrice = product.getExtraData('avgPrice')  %}
{% set analysisMax = max(analysis['questionable'] | length , analysis['allergens'] | length, analysis['quality'] | length) %}
{% set analysisMaxClass = "panel-ingredients-max" %}
{% set chewyUrl = product.getExtraData('shopUrls')['chewy'] %}
{% if (analysisMax <= 6) %}
  {% set analysisMaxClass = "panel-ingredients-max" ~ analysisMax %}
{% endif %}

{% block pageContainerClasses %} container container-product {% endblock %}

{% block mainContent %}
  <a href="{{ product|brand_url}}">
    <button class="btn btn-info btn-sm" type="submit">< All {{ product.brand }} Products</button>
  </a>
  {% if debug %}
    <a class="pull-right" target="_self" href="/admin/update/{{ product.id }}">
      <button class="btn btn-warning btn-sm" type="submit">Edit</button>
    </a>
  {% endif %}
  <h1>{{ product.displayName }} Review</h1>
  <h2 style="display:none">
    {{ product.brand }} {% if productStats.type == "dry" %} Dry {% else %} Canned {% endif %} Cat Food Review
  </h2>

  <hr>

  <div class="row">

    <div class="col-xs-5 col-sm-4">
      {% if amazonUrl %}
        <a class="amazon-product" data-type="image" data-label="{{ product.displayName }}" rel="nofollow" href="{{ amazonUrl | default("#") }}" target="_blank">
          <img alt="{{ product.displayName }}"
               title="{{ product.displayName }}"
               src="{{ product | catfood_image_max }}"
               class="thumbnail img-responsive"
          />
        </a>
      {% else %}
        <img src="{{ product | catfood_image_max }}" alt="{{ product.displayName }}" class="thumbnail img-responsive product-preview" />
      {% endif %}
      {% if amazonUrl %}
        <div class="visible-sm-block visible-xs-block">
          <a class="amazon-product" rel="nofollow" href="{{ amazonUrl }}" target="_blank"  data-type="button" data-label="{{ product.displayName }}" >
            <button class="btn btn-amazon btn-block btn-sm" type="submit"><b>Check Price<br/>On Amazon</b></button>
          </a>
        </div>
      {% endif %}
      {% if chewyUrl %}
        {% set chewyStyle = "" %}
        {% if amazonUrl %}
          {% set chewyStyle = "margin-top:4px" %}
        {% endif %}
        <div class="visible-sm-block visible-xs-block">
          <a rel="nofollow" href="{{ chewyUrl|chewy_url }}" target="_blank"  data-type="button" data-label="{{ product.displayName }}" >
            <button class="btn btn-chewy btn-block btn-sm" style="{{ chewyStyle }}" type="submit"><b>Get 20% off<br/>at chewy.com</b></button>
          </a>
        </div>
      {% endif %}

    </div>

    <div class="col-xs-7 col-sm-8">
      {% set nutToolTip = nutrition ~ " out of 5 paws based on the product's nutritional analysis" %}
      {% set ingToolTop = ingredients ~ " out of 5 paws based on the product's ingredient analysis below" %}
      <h3>Quick Analysis</h3>
      <h4>Ingredients:
        <span class="nowrap" style="cursor: pointer" data-toggle="tooltip" data-placement="right" data-delay="0" title="{{ ingToolTop }}">{{ ingredients | paws("ingredients-paws") }}</span>
      </h4>
      <h4>Nutrition:
        <span class="nowrap" style="cursor: pointer" data-toggle="tooltip" data-delay="0" data-placement="right" title="{{ nutToolTip }}">{{ nutrition | paws("nutrition-paws") }}</span>
      </h4>
      <h4>Potential Allergens:<span class="text-muted">
            {% if allergenTypes %}
              {{  allergenTypes | commaList }}
            {% else %}
              None
            {% endif %}
            </span>

      </h4>
      <h4>Est. Calories: <span class="text-muted"> {{ product.getCaloriesPer100g['total']|round }} cal/100g</span></h4>
      <h4><a href="/blog/cat-food-prices">Price:</a> <span class="text-muted">{{ product | price_per_oz(avgPrice) }}</span></h4>
      <div class="visible-md-block visible-lg-block">
        {% if amazonUrl %}
          <a class="amazon-product" rel="nofollow" href="{{ amazonUrl }}" target="_blank"  data-type="button" data-label="{{ product.displayName }}" >
            <button class="btn btn-amazon" type="submit"><b>Check Price On Amazon</b></button>
          </a>
        {% endif %}
        {% if chewyUrl %}
          <a rel="nofollow" href="{{ chewyUrl|chewy_url }}" target="_blank"  data-type="button" data-label="{{ product.displayName }}" >
            <button class="btn btn-chewy" type="submit"><b>Get 20% off at chewy.com</b></button>
          </a>
        {% endif %}
      </div>

    </div>

    <div class="col-xs-12">
      <p style="padding-top: 20px;">
        {%  set noun =  "cat food" %}
        Overall, {{  product | catfood_amazon_url("_self", "product", "", "link-1") }} is {{ product | overall_rating(noun) }}, earning
         {{ nutrition + ingredients }}  out of a possible 10 paws based on its nutritional analysis and ingredient list.

      </p>
    </div>


  </div>

  <hr>

  <h3>Ingredient Analysis</h3>

  <p>When evaluating a cat food, the first five ingredients can tell you a lot about the quality of a product as they make up the bulk of the product.
    Ideally, you're looking for quality protein sources with a minimum of cheap starches, fillers or by-products. Continuing down the
  ingredient list, look for ingredients that resemble real food with a minimal number of unpronounceable chemicals - the same as you would for human food.
  </p>
  <p>{{ product | catfood_amazon_url("_self", "product", "", "link-2") }} includes the following:



  <div class="row">

    <div class="col-sm-4">
      <div class="panel panel-success panel-ingredients {{ analysisMaxClass }}">
        <div class="panel-heading">
          <h3 class="panel-title">Quality Ingredients</h3>
        </div>
        <div class="panel-body">
          {% if analysis['quality'] | length == 0 %}
            <b>None</b>
          {% else %}
            <ul class="ingredients">


              {% for pos,ing in analysis['quality'] %}
                {% set class = '' %}
                {% if pos < 5 %}
                  {% set class = 'top' %}
                {% endif %}
                <li class="{{ class }}">{{ ing }}</li>
              {% endfor %}

            </ul>
          {% endif %}

        </div>
      </div>

    </div>

    <div class="col-sm-4">
      <div class="panel panel-danger panel-ingredients {{ analysisMaxClass }}">
        <div class="panel-heading">
          <h3 class="panel-title">Questionable Ingredients</h3>
        </div>
        <div class="panel-body">
          {% if analysis['questionable'] | length == 0 %}
            <b>None</b>
          {% else %}
            <ul class="ingredients">
              {% for pos,ing in analysis['questionable'] %}
                {% set class = '' %}
                {% if pos < 5 %}
                  {% set class = 'top' %}
                {% endif %}
                <li class="{{ class }}">{{ ing }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>

    </div>

    <div class="col-sm-4">
      <div class="panel panel-warning panel-ingredients {{ analysisMaxClass }}">
        <div class="panel-heading">
          <h3 class="panel-title">Potential Allergens</h3>
        </div>
        <div class="panel-body">
          {% if analysis['allergens'] | length == 0 %}
            <b>None</b>
          {% else %}
            <ul class="ingredients">
              {% for pos,ing in analysis['allergens'] %}
                {% set class = '' %}
                {% if pos < 5 %}
                  {% set class = 'top' %}
                {% endif %}
                <li class="{{ class }}">{{ ing }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>

    </div>

  </div>

  <p><small>Note - a <b>bolded</b> ingredient in the above tables indicates it is one of the first five ingredients listed by the product manufacturer.</small></p>


  {% set firstSentence = true %}
  {% set hasTopProtein = proteins[1] or proteins[2] or proteins[3] or proteins[4] %}
  {% set hasTopByProduct = byproducts[1] or byproducts[2] or byproducts[3] or byproducts[4] %}
  {% set hasFiller = fillers[0] or fillers[1] or fillers[2] or fillers[3] or fillers[4] %}
  {% set hasPreservatives = preservatives[0] %}
  {% set hasAdditives = additives[0] %}

  {% if proteins[0] %}
    In this case, {{ product | catfood_amazon_url("_self", "product", "", "link-3") }}'s
    most plentiful ingredient listed
    {% if isTopMoisture %}
      (not including water-based ingredients)
    {% endif %}

    is <span class="text-orig-success">
            <em>{{  proteins[0] }}</em></span>,
    which is considered a quality protein source.
    {% if (hasTopProtein) %}
      It also contains <em>{{ proteins | slice(1,4)|commaList |quality}}</em> as additional quality protein sources.
    {% endif %}
    {% set firstSentence = false %}
  {% elseif (hasTopProtein) %}
    Although not the first product listed (which is the most plentiful), {{ product | catfood_amazon_url("_self", "product", "", "link-4") }}
    does contain with its top ingredients <em>{{ proteins | slice(1,4)|commaList |quality}}</em> which {{proteins | slice(1,4) | isOrAre }} considered quality protein sources.
    {% set firstSentence = false %}
  {% endif %}

  {% if byproducts[0] %}
    In this case, {{ product | catfood_amazon_url("_self", "product", "", "link-5") }}'s first ingredient listed (and hence the most plentiful)
    is <em>{{ byproducts[0] |inferior }}</em>
    which is considered an inferior ingredient.
    {% if (hasTopByProduct) %}
      It also contains <em>{{ byproducts | slice(1,4)|commaList |inferior }}</em> within its first five ingredients.
    {% endif %}

    {% set firstSentence = false %}

  {% elseif (hasTopByProduct) %}
    {% if firstSentence %}
      In this case, {{ product | catfood_amazon_url("_self", "product", "", "link-6") }} includes <em>{{ byproducts | slice(1,4)|commaList |inferior}}</em>. By-products are typically
      considered an inferior, lesser quality ingredient in cat food.

      {% set firstSentence = false %}
    {% else %}
      <p></p>However, this product also lists <em>{{ byproducts | slice(1,4)|commaList |inferior}}</em> within its top ingredients.  By-products are typically
      considered inferior, lesser quality ingredients.
    {% endif %}
  {% endif %}

  </p>
  {% if hasFiller %}
    <p>
      Additionally, {{ product | catfood_amazon_url("_self", "product", "", "link-7") }} also contains as
      {% if fillers | length > 0  %}
        top ingredients
      {% else %}
      a top ingredient
        {% endif %}
      <em>{{ fillers | commaList | inferior }}</em>.
      These types of ingredients are typically used as bulk-adding fillers and are not required in your cat's diet.
      {% if product.isDryFood %}
        However, they are sometimes used to help maintain the kibble shape in dry foods.
      {% endif %}
    </p>

  {% endif %}

  {% if (not byproducts[0] and not hasTopByProduct and not hasFiller) %}

    <p>Additionally, it's worth noting that this product does not list either by-products nor bulk-adding fillers within its top ingredients.
      By-products are considered inferior, lesser quality ingredients. Common fillers typically used to add bulk to the product are not required in your cat's diet.
      Together, their combined absence {{ "may be
          indicative of a higher quality product" | quality }}.</p>

  {% endif %}

  {% if (hasPreservatives and hasAdditives) %}
    {% set undesirables = preservatives|merge(additives)  %}
    <p>Please also be aware that this product contains <span class="text-danger">{{ undesirables | commaList }}</span>, which
      are preservatives and additives that some experts claim may potentially be possible contributors
    to certain medical conditions in cats.</p>
  {% elseif (hasPreservatives) %}
    <p>Please also be aware that this product contains <span class="text-danger">{{ preservatives | commaList }}</span>, which
    {% if preservatives | length > 1 %}
      are preservatives that some experts claim may be possible contributors
    {% else %}
      is a preservative that some experts claim may be a possible contributor
    {% endif %}
       to certain medical conditions in cats.</p>
  {% elseif (hasAdditives) %}
    <p>Please also be aware that this product contains <span class="text-warning">{{ additives | commaList }}</span>, which
      {% if additives | length > 1 %}
        are additives that some experts claim may be possible contributors
      {% else %}
        is an additive that some experts claim may be a possible contributor
      {% endif %}
      to certain medical conditions in cats.</p>
  {% endif %}


  {% if allergens %}

    <p class="allergens"><span class="allergen allergen-title">Allergen alert: </span>
      This product contains <em>{{ allergens|commaList|allergen }}</em> which may
      be problematic for cats who suffer from <em>{{ allergenTypes | commaList('or') | allergen }}</em> food allergies.</p>

  {% else %}
    <p class="allergens">This product does not appear to contain any of the common feline food allergens, however this is not a guarantee that cats who
      suffer from allergies will by symptom-free while eating this food.</p>
  {% endif %}

  <hr />

  {# Moved ads up here#}
  <div class="ad">
    {% include 'partials/amazon.html.twig' %}
    <hr />
  </div>

  <h3>Nutritional Analysis*</h3>

  <p>
    Compared to the other {{ stats.total - 1 }} cat foods in our database, {{ product | catfood_amazon_url("_self", "product", "", "link-8") }} has:
  <ul>
    <li>{{ productStats.protein | protein_display }}</li>
    <li>{{ productStats.carbohydrates | carb_display }}</li>
    <li>{{ productStats.fat | stat_display("fat") }}</li>
    <li>{{ productStats.fibre | stat_display("fiber") }}</li>

    {% if productStats.type == "dry" %}
      <li><span class="text-warning">significantly less moisture than an equivalent wet food</span></li>
    {% endif %}
  </ul>

  In general, cats have been shown to do better with a higher protein, medium fat, lower carb diet with sufficient moisture. However, specialty diets as recommended by your
  veterinarian may prioritize a different nutritional breakdown.
  </p>

  <h4>Calorie Breakdown</h4>
  <div class="row">
    <div class="col-sm-6">
      <p>Using the calculations provided by the <a href="http://petfood.aafco.org/Calorie-Content#caloriecontent" target="_blank">AAFCO</a>,
        {{ product |catfood_amazon_url("_self", "product", "", "link-9")  }} has approximately
        {{ product.getCaloriesPer100g['total']|round }} calories per 100g ({{ calories | round }} calories/ounce),
        which is {{ productStats.calories | calorie_explaination }} compared to the average of the other {{ productStats.type }} cat foods in the CatFoodDB.</p>

    </div>
    <div class="col-sm-6">
      {% include 'partials/calorie-chart.html.twig' %}
    </div>


  </div>



  <hr />

  <p>All the product information on this page is based on data collected from
    <a href="{{ product.source }}" target="blank" rel='nofollow'>the manufacturer's product website</a> as retrieved on
    {{ product.updatedInWords }}.
  </p>

  {% if product.discontinued %}
    <p class="text-warning"><b>Important Note: </b>This product may have been discontinued by the manufacturer, as the above linked product website
      was no longer functioning when last checked.</p>

  {% endif %}

  <hr />

  <h3>Ingredients</h3>
  <p>Ingredients as published by the cat food manufacturer:</p>
  <p><small>{{ product.ingredients }}</small></p>
  <hr />


  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Guaranteed Analysis</h3>
    </div>
    <div class="panel-body">
      <p>Nutritional information as published by the cat food manufacturer.*</p>
      <div class="row" >
        <div class="col-xs-6 col-sm-4 col-md-2"><strong>Protein:</strong>&nbsp;<span class="extra-muted">(min)</span></div>
        <div class="col-xs-6 col-sm-2 col-md-1 text-right">{{ product.percentages.wet.protein | number_format(1) }}%</div>
        <div class="col-xs-6 col-sm-4 col-md-2"><strong>Fat:</strong>&nbsp;<span class="extra-muted">(min)</span></div>
        <div class="col-xs-6 col-sm-2 col-md-1 text-right">{{ product.percentages.wet.fat | number_format(1) }}%</div>

        <div class="col-xs-6 col-sm-4 col-md-2"><strong>Fiber:</strong>&nbsp;<span class="extra-muted">(max)</span></div>
        <div class="col-xs-6 col-sm-2 col-md-1 text-right">{{ product.percentages.wet.fibre | number_format(1) }}%</div>
        <div class="col-md-2 hidden-sm hidden-xs">&nbsp;</div>
        <div class="col-xs-6 col-sm-4 col-md-2"><strong>Carbs:</strong>&nbsp;<span class="extra-muted">(est)</span></div>
        <div class="col-xs-6 col-sm-2 col-md-1 text-right">{{ product.percentages.wet.carbohydrates | number_format(1) }}%</div>

        <div class="col-xs-6 col-sm-4 col-md-2 "><strong>Ash:</strong>&nbsp;<span class="extra-muted">(est)</span></div>
        <div class="col-xs-6 col-sm-2 col-md-1 text-right">{{ product.percentages.wet.other | number_format(1) }}%</div>

        <div class="col-xs-6 col-sm-4 col-md-2 "><strong>Moisture:</strong>&nbsp;<span class="extra-muted">(max)</span></div>
        <div class="col-xs-6 col-sm-2 col-md-1 text-right">{{ product.percentages.wet.moisture | number_format(1) }}%</div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Dry Matter Analysis</h3>
    </div>
    <div class="panel-body">
      <p>The manufacturer's published guaranteed analysis values normalized for moisture content.</p>
      <div class="row" >
        <div class="col-xs-6 col-sm-4 col-md-2"><strong>Protein:</strong>&nbsp;<span class="extra-muted">(min)</span></div>
        <div class="col-xs-6 col-sm-2 col-md-1 text-right">{{ product.percentages.dry.protein | number_format(0) }}%</div>
        <div class="col-xs-6 col-sm-4 col-md-2"><strong>Fat:</strong>&nbsp;<span class="extra-muted">(min)</span></div>
        <div class="col-xs-6 col-sm-2 col-md-1 text-right">{{ product.percentages.dry.fat  | number_format(0) }}%</div>

        <div class="col-xs-6 col-sm-4 col-md-2"><strong>Fiber:</strong>&nbsp;<span class="extra-muted">(max)</span></div>
        <div class="col-xs-6 col-sm-2 col-md-1 text-right">{{ product.percentages.dry.fibre | number_format(0) }}%</div>
        <div class="col-md-2 hidden-sm hidden-xs">&nbsp;</div>

        <div class="col-xs-6 col-sm-4 col-md-2"><strong>Carbs:</strong>&nbsp;<span class="extra-muted">(est)</span></div>
        <div class="col-xs-6 col-sm-2 col-md-1 text-right">{{ product.percentages.dry.carbohydrates | number_format(0) }}%</div>

        <div class="col-xs-6 col-sm-4 col-md-2 "><strong>Ash:</strong>&nbsp;<span class="extra-muted">(est)</span></div>
        <div class="col-xs-6 col-sm-2 col-md-1 text-right">{{ product.percentages.dry.other | number_format(0) }}%</div>

        <div class="col-xs-6 col-sm-4 col-md-2"><strong>Calories:</strong>&nbsp;<span class="extra-muted">(est)</span></div>
        <div class="col-xs-6 col-sm-2 col-md-1 text-right">{{ product.caloriesPer100g.total | number_format(0) }}/100g</div>

      </div>
    </div>
  </div>

  <p><small>*Note that some nutritional percentages reported are only estimated values, and are indicated as such as <span class="text-muted">(est)</span>. Each cat food
      manufacturer is required by law to publish a Guaranteed Analysis, which defines each product's maximum values of fiber, moisture and ash in
      addition to the minimum values of protein and fat contained within. Exact nutritional percentages are not
      available and hence all calculated values (including carbohydrate percentages and calorie amounts) are determined
      using these minimum and maximum published values and therefore may differ from actual values.</small>
  </p>
  <hr />


{% endblock %}

{% block articles %}
{% endblock %}


{% block scripts %}
   {{ parent() }}
{% endblock %}

{% block amazonAds %}
{% endblock %}