{% extends "page_jumbo_template.html.twig" %}

{% block pageContainerClasses%}  container main {% endblock %}


{% block mainContent %}

  <div class="row" style="">
    <div class="col-lg-12">
      <h1>Other Resources & Recommendations</h1>
      <hr />

      <p>
      I’m often asked about the products I use with my three cats, Kilo, Echo & Zulu. Over the years we’ve tried many
        different foods, litter, and toys, and we definitely have our favorites. Below is a sample of those products we use regularly and recommend.
      </p>
      <p class="small muted">
        Please note that some of the product links on this page, and throughout the site, are affiliate links.
        This means that I, at no additional cost to you, earn a small commission if you decide to make a purchase.
      </p>
      <hr />
    </div>
  </div>
  <div class="row "></div>

    <div class="col-md-12 col-resource">
      <div class="panel panel-default product-list">
        <div class="panel-heading">
          <h4>Litter Boxes & Storage</h4>
        </div>
        <div class="panel-body">
          {% set lrUrl = "http://amzn.to/1Uabvne" %}
          {% set llUrl = "http://amzn.to/1S3cjTv" %}
          <h5><a href="{{ llUrl }}" target="_blank">Litter Locker</a></h5>
          <p>
            <img src="http://i0.wp.com/ecx.images-amazon.com/images/I/41r0aHNIH8L.SL200.jpg?w=669" class="img-responsive recommendation-preview recommendation-preview-left"/>
            The <a href="{{ llUrl }}" target="_blank">Litter Locker</a> changed litter management for me. I have three of these around my home, one per litter box.
            They are extremely easy to use, and do an amazing job of containing all the litter smells.
            You simply scoop the soiled litter into the container, and pull the divider to trap the smells.
            When the container is full (about once a week) you tie off the bag and dispose as usual. The only downside is that
            the <a href="http://amzn.to/1ZMD04V" target="_blank">Litter Locker Refill cartridges</a> are a little pricey and are effectively fancy $5 garbage bags, but since
            each cartridge lasts approximately 2 months, it’s manageable.</p>
          <hr />
          <h5><a href="{{ lrUrl }}" target="_blank">Litter Robot</a></h5>
          <p>
            <img src="http://i1.wp.com/ecx.images-amazon.com/images/I/41kWFq2FGxL._SL200_.jpg?w=669" class="img-responsive recommendation-preview recommendation-preview-left"/>
            Full disclosure – I don’t actually own a <a href="{{ lrUrl }}" target="_blank">Litter Robot</a>. However, several of my friends do, and they cannot recommend them enough.
            They don’t understand why I don’t have one yet. To quote my buddy Steve: “The Litter Robot saved my marriage”.
            No more scooping! Or in Steve’s case, no more arguing about who forgot to scoop. I’ve seen these magical devices
            in action, and they are definitely very cool. I’m personally a little worried they might be a tad small,
            but one of Steve’s cats is huge and doesn’t have any issues, so there’s a chance my worry is unfounded.
            I’d probably own at least one of these if I didn’t love my Litter Lockers so much.</p>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-resource">
      <div class="panel panel-default product-list">
        <div class="panel-heading">
          <h4>Cat Toys & Entertainment</h4>
        </div>
        <div class="panel-body">
          {% set treeUrl = "http://amzn.to/1YngGzV" %}
          {% set kongUrl = "http://amzn.to/1ZMFU9N" %}
          <h5><a href="{{ treeUrl }}" target="_blank">“The Tabby” Cat Nap Cat Tree Condo</a></h5>
          <p>
            <img src="https://images-na.ssl-images-amazon.com/images/I/41bj9omWR%2BL.jpg" class="img-responsive recommendation-preview recommendation-preview-left"/>
            I bought <a href="{{ treeUrl }}" target="_blank">“The Tabby” Cat Nap Cat Tree Condo</a> over 6 years ago and it’s still holding up well. My cats use it daily,
            running up it’s posts like they’re trees, using the bottom parts as scratchers and perching at the top to watch over their domain.
            When I initially got it I was a little worried about the quality – the carpet used is definitely on the cheap side, and after 6 years some has worn away.
            Overall though it’s standing up well to the wear and tear, and has also survived 2 moves.
            It’s very tall – 6′ high. When placed against a wall it’s very sturdy, but I wouldn’t leave it freestanding;
            if your cats are anything like mine they’ll most likely end up knocking it over with little effort.</p>
          <hr />
          <h5><a href="{{ kongUrl }}" target="_blank">KONG Cat Cozie Kickeroo</a></h5>
          <p>
            <img src="https://images-na.ssl-images-amazon.com/images/I/51ZpXlNViJL.jpg" class="img-responsive recommendation-preview recommendation-preview-left"/>
            At any one time there are at least a half dozen <a href="{{ kongUrl }}" target="_blank">KONG Cat Cozie Kickeroos</a> scattered around my house.
            My cats luurve these toys. They carry them all around the house -- I always find them in my bed… and occasionally in the toilet or litter box.
            They also appear to enjoy beating the crap out of them with their hind legs. The catnip is an added bonus when the toy is new,
            but the effect doesn’t seem to last more than a day or so. That said, when I bring a new one home my cats
            have been known to dig it out my bag and rip it out of its packaging before I can even get a chance to put away the groceries!</p>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-resource">
      <div class="panel panel-default product-list">
        <div class="panel-heading">
          <h4>Pet Carriers</h4>
        </div>
        <div class="panel-body">
          {% set bpUrl = "http://amzn.to/1YnhJzV" %}
          <h4><a href="{{ bpUrl }}" target="_blank">Pet-Gear Plus Traveler Rolling Backpack Carrier</a></h4>
          <p>
            <img src="https://images-na.ssl-images-amazon.com/images/I/71qo8jZrM1L._SL200_.jpg" class="img-responsive recommendation-preview recommendation-preview-left"/>
            <p>A few years ago, there was a fire in my apartment building. As people were screaming from balconies and others were knocking on my door
            yelling at me to get out, I realized I had no way to get all three of my cats out and down 24 flights of stairs by myself.
            I had to leave them, and it completely wrecked me.</p>

            <p>Everything was fine, thankfully. There was damage to some of the units above me, but no one (human or pet)
              was hurt. My cats were less traumatized than I was after the whole ordeal. The end result was I swore I would never
              again be in a position where I had to evacuate without the cats.</p>

            <p>Hence, I bought the <a href="{{ bpUrl }}" target="_blank">Pet-Gear Plus Traveler Rolling Backpack Carrier</a> (although mine’s pink… which if you knew me, you’d realize how hilarious that is).
              It fits two of my (average sized) cats comfortably, and all three in an emergency.
              And although it wasn’t a comfortable trek, I was able to use it to carry all 3 cats down all those stairs the next time the fire alarm rang.
              </p>

            <p>As a backpack, it’s not great. It does the job, but it’s really quite awkward.
              However, as a rolling suitcase-type cat carrier for regular vet visits and whatnot, it’s great.
              My cats love it (and happily sleep in it), and with the large front zipper there are no issues trying to shove a cat into a small space.
              </p>

            <p>If you’re looking for a large carrier, or something that is capable of transporting multiple cats at once, it’s worth checking out.</p>
          </div>
        </div>
      </div>

  <div class="col-md-12 col-resource">
    <div class="panel panel-default product-list">
      {% set wssUrl = "http://amzn.to/1XTj5nI" %}
      {% set ffUrl = "http://amzn.to/1UMCzWy" %}
      <div class="panel-heading">
        <h4>Wet Cat Food</h4>
      </div>
      <div class="panel-body">
        <h5><a href="{{ wssUrl }}" target="_blank">Wellness Signature Selects</a></h5>
        <p>
          <a href="{{ wssUrl }}" target="_blank">
            <img src="http://ecx.images-amazon.com/images/I/51P-ZYXRCuL._SL160_.jpg" class="img-responsive recommendation-preview recommendation-preview-left"/>
          </a>
          My feline roommates really only eat the bits-in-sauce wet foods. Knowing this, my vet recommended the
          <a href="{{ wssUrl }}" target="_blank">Wellness Signature Selects</a>
          (<a href="/product/wellness/Signature+Selects+Flaked+Skipjack+Tuna+With+Shrimp+Entrée+in+Broth">CatFoodDB Review</a>).
          My cats agree with this recommendation, and all
          three will eat this readily. Unfortunately, this food is on the pricier side, but my cats are worth it. Usually. <i class="fa fa-smile-o" aria-hidden="true"></i></p>
        <hr />
        <h5><a href="{{ ffUrl }}" target="_blank">Fancy Feast</a></h5>
        <p>
          <img src="http://ecx.images-amazon.com/images/I/51%2BX4dmwr9L._SL160_.jpg" class="img-responsive recommendation-preview recommendation-preview-left"/>
          Fancy Feast is a staple in my home. Despite it’s mediocre nutritional content it’s something I know my cats will always eat.
          It’s also inexpensive, and available everywhere (I always seem to need more cat food!) My cats prefer the
          <a href="http://amzn.to/25YThHv" target="_blank">Grilled</a> (<a href="/product/fancy%20feast/Grilled+Chicken+Feast+In+Gravy">CatFoodDB Review</a>),
          <a href="http://amzn.to/1UPCxKT" target="_blank">Gravy Lovers</a> (<a href="/product/fancy%20feast/Gravy+Lovers+Ocean+Whitefish+%26+Tuna+Feast+In+Saut%C3%A9ed+Seafood+Flavor+Gravy">CatFoodDB Review</a>),
          and <a href="http://amzn.to/1Uaa9ZR" target="_blank">Medleys Florentine</a> (<a href="/product/fancy%20feast/Tuna+Florentine+With+Garden+Greens+In+A+Delicate+Sauce">CatFoodDB Review</a>) varieties,
          but will readily eat anything that’s not pâté (they’re picky like that).</p>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-resource">
    <div class="panel panel-default product-list">
      {%  set bbUrl = "http://www.amazon.com/exec/obidos/ASIN/B002UT92EY/catfood00b-20" %}
      {%  set oUrl = "http://www.amazon.com/exec/obidos/ASIN/B00BXHHMAA/catfood00b-20" %}
      <div class="panel-heading">
        <h4>Dry Cat Food</h4>
      </div>
      <div class="panel-body">
        <h5><a href="{{ bbUrl }}" target="_blank">BLUE Wilderness Chicken</a></h5>
        <p>
          <img src="http://i1.wp.com/ecx.images-amazon.com/images/I/812ev1G8D5L.SL240.jpg?w=669" class="img-responsive recommendation-preview recommendation-preview-left"/>
          My cats have been eating <a href="{{ bbUrl }}" target="_blank">BLUE Wilderness Chicken</a> (<a href="/product/blue/Wilderness+Chicken+Recipe+For+Adult+Cats">CatFoodDB Review</a>) exclusively as a dry food for several years now, paired with a wet food for added moisture.
          My vets always compliment all three of my cats on their silky smooth coats, and I attribute it to this particular cat food.
          Being grain free it’s also on the pricier side, but I buy it in huge 12 lb bags which makes it much more reasonable.</p>
        <hr />
        <h5><a href="http://www.amazon.com/exec/obidos/ASIN/B00BXHHMAA/catfood00b-20" target="_blank">Orijen Cat & Kitten</a></h5>
        <p>
          <img src="http://i1.wp.com/ecx.images-amazon.com/images/I/51D12AXpFPL.SL160.jpg?w=669" class="img-responsive recommendation-preview recommendation-preview-left"/>
          Prior to switching to BLUE, the only dry food I fed my cats was
          <a href="http://www.amazon.com/exec/obidos/ASIN/B00BXHHMAA/catfood00b-20" target="_blank">Orijen Cat & Kitten</a> (<a href="product/orijen/Cat+%26+Kitten">CatFoodDB Review</a>).
          The only reason I switched was because I moved, and was no longer living across the street from a pet food store that carried this.
          I’d still recommend this to anyone looking for a quality dry cat food, and would have no problems switching my
          cats back if I couldn’t purchase the BLUE Wilderness for whatever reason.</p>
      </div>
    </div>
  </div>


{% endblock %}

{% block amazonAds %}
  <div class="well ad">
  <script type="text/javascript">
    amzn_assoc_placement = "adunit0";
    amzn_assoc_search_bar = "true";
    amzn_assoc_tracking_id = "catfood00b-20";
    amzn_assoc_ad_mode = "manual";
    amzn_assoc_ad_type = "smart";
    amzn_assoc_marketplace = "amazon";
    amzn_assoc_region = "US";
    amzn_assoc_title = "Shop Related Products";
    amzn_assoc_asins = "B003WGGWQA,B0027IVL6K,B007UI5LGS,B00NOL7OQU";
    amzn_assoc_linkid = "e200e11a683a07776c8896986f84aab2";
  </script>
  <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
  </div>
{% endblock %}